<div class="layout-padding">
<!--  <h1 class="mat-display-1 centered">Welcome to Slightly Modified</h1>-->
  <div fxLayout="row">
    <h2 class="shop-title">Let's begin, please select a Category.</h2>
  </div>

  <!-- The Applications Main Categories -->
  <div fxLayout="row" class="align-content">
    <div fxFlex="1"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-xl-image src="../../../assets/images/climbing/andrew-neel-unsplash-climbingGear.JPG"/>
        <hr>
        <mat-card-title class="layout-padding">Climbing Gear</mat-card-title>
        <mat-card-content>
          <!-- Climbing Sub Categories -->
          <mat-list>
            <mat-list-item>Climbing Shoes</mat-list-item>
            <mat-list-item>Climbing Chalks</mat-list-item>
            <mat-list-item>Climbing Accessories</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .climbing-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-xl-image src="../../../assets/images/automotive/automotive-gear-snailInstall-slmodd.png" />
        <hr>
        <mat-card-title class="layout-padding">Automotive Gear</mat-card-title>
        <mat-card-content>
          <!-- Automotive Sub Categories -->
          <mat-list>
            <mat-list-item>Modifi T-shirts and Apparel</mat-list-item>
            <mat-list-item>Modifi Goodiez and Lootz</mat-list-item>
            <mat-list-item>Modifi Tools and Accessories</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .automotive-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-xl-image src="../../../assets/images/swimming/seanTookThese-unsplash.JPG" />
        <hr>
        <mat-card-title>Swimming Gear</mat-card-title>
        <mat-card-content>
          <!-- Swimming Sub Categories -->
          <mat-list>
            <mat-list-item>Women's Swimming Gear</mat-list-item>
            <mat-list-item>Men's Swimming Gear</mat-list-item>
            <mat-list-item>Swimming Gear & Accessories</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .swimming-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-xl-image src="../../../assets/images/camping/adrian-unsplash.jpg" />
        <hr>
        <mat-card-title>Camping Gear</mat-card-title>
        <mat-card-content>
          <!-- Camping Sub Categories -->
          <mat-list>
            <mat-list-item>Tents and Packing</mat-list-item>
            <mat-list-item>Lounge and Comfort</mat-list-item>
            <mat-list-item>Randoms and Goodiez</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .camping-card-cat END -->
    <div fxFlex="1"></div>
  </div><!-- .fxLayout Row Main Category Cards END -->

  <div fxLayout="row" class="give-margin">
    <hr>
  </div>

  <!-- 2nd Row Categories COMING SOON! -->
  <div fxLayout="row">
    <div fxFlex="1"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/climbing/andrew-neel-unsplash-climbingGear.JPG" />
        <hr>
        <mat-card-title>Climbing Gear</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .climbing-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/automotive/automotive-gear-snailInstall-slmodd.png" />
        <hr>
        <mat-card-title>Automotive Gear</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .automotive-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/swimming/seanTookThese-unsplash.JPG" />
        <hr>
        <mat-card-title>Swimming Gear</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .swimming-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/camping/adrian-unsplash.jpg" />
        <hr>
        <mat-card-title>Camping Gear</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .camping-card-cat END -->
    <div fxFlex="1"></div>
  </div><!-- .fxLayout Row Main Category Cards END -->
</div>
