<div class="layout-padding">
  <div fxLayout="row">
    <h2 class="shop-title">Let's begin, please select a Category.</h2>
  </div>

  <!-- The Applications Main Categories -->

  <!-- 1st Row Categories -->
  <div fxLayout="row" class="align-content-baseline">
    <div fxFlex="1"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/climbing/andrew-neel-unsplash-climbingGear.JPG"/>
        <hr>
        <mat-card-title class="layout-padding">Climbing Gear</mat-card-title>
        <mat-card-content fxLayoutAlign="left">
          <!-- Climbing Sub Categories -->
          <mat-list>
            <mat-list-item>Climbing Shoes</mat-list-item>
            <mat-list-item>Climbing Chalks</mat-list-item>
            <mat-list-item>Climbing Accessories</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showClimbSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .climbing-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/automotive/automotive-gear-snailInstall-slmodd.png" />
        <hr>
        <mat-card-title class="layout-padding">Automotive Gear</mat-card-title>
        <mat-card-content>
          <!-- Automotive Sub Categories -->
          <mat-list>
            <mat-list-item>Modifi T-shirts and Apparel</mat-list-item>
            <mat-list-item>Modifi Goodiez and Lootz</mat-list-item>
            <mat-list-item>Modifi Accessories</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showAutomotiveSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .automotive-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/swimming/seanTookThese-unsplash.JPG" />
        <hr>
        <mat-card-title>Swimming Gear</mat-card-title>
        <mat-card-content>
          <!-- Swimming Sub Categories -->
          <mat-list>
            <mat-list-item>Women's Swimming Gear</mat-list-item>
            <mat-list-item>Men's Swimming Gear</mat-list-item>
            <mat-list-item>Swimming Accessories</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showSwimmingSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .swimming-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/camping/adrian-unsplash.jpg" />
        <hr>
        <mat-card-title>Camping Gear</mat-card-title>
        <mat-card-content>
          <!-- Camping Sub Categories -->
          <mat-list>
            <mat-list-item>Tents and Packing</mat-list-item>
            <mat-list-item>Lounge and Comfort</mat-list-item>
            <mat-list-item>Randoms and Goodiez</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showCampingSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .camping-card-cat END -->
    <div fxFlex="1"></div>
  </div><!-- .fxLayout Row1 Main Category Cards END -->

  <!-- Spacer between rows -->
  <div fxLayout="row" class="give-margin"><hr></div>

  <!-- 2nd Row Categories -->
  <div fxLayout="row">
    <div fxFlex="1"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/thrift/chrissie-kremer-unsplash.jpg" />
        <hr>
        <mat-card-title>Thrift Shop</mat-card-title>
        <mat-card-content>
          <!-- Thrift Shop Sub Categories -->
          <mat-list>
            <mat-list-item>Modifi Goodiez</mat-list-item>
            <mat-list-item>Artistry Crafts</mat-list-item>
            <mat-list-item>Restoration Finish</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showThriftSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .thrift-shop-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/antique/florian-klauer-unsplash.jpg" />
        <hr>
        <mat-card-title>Antiques & Junk</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item>Treasures and Gems</mat-list-item>
            <mat-list-item>Junk Drawer Fun</mat-list-item>
            <mat-list-item>Barn Finds</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showAntiqueSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .antiques-n-junk-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/digitalServices/Slighty-Modified-services.jpg" />
        <hr>
        <mat-card-title>Digital Services</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item>Websites and Webapps</mat-list-item>
            <mat-list-item>Inventory Management</mat-list-item>
            <mat-list-item>Hosting & Server Admin</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showDigitalServicesSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .digital-services-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/other/diego-ph-unsplash.jpg" />
        <hr>
        <mat-card-title>Randomness</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item>Random Deals</mat-list-item>
            <mat-list-item>Shuffle Bin</mat-list-item>
            <mat-list-item>Other Goodz</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showRandomnessSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .random-other-card-cat END -->
    <div fxFlex="1"></div>
  </div><!-- .fxLayout Row2 Main Category Cards END -->


</div>
