<div class="layout-padding">
  <div fxLayout="row">
    <h2 class="shop-title">Let's begin, please select a Category.</h2>
  </div>

  <!-- The Applications Main Categories -->

  <!-- 1st Row Categories -->
  <div fxLayout="row" class="align-content-baseline">
    <div fxFlex="1"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/climbing/andrew-neel-unsplash-climbingGear.JPG"/>
        <hr>
        <mat-card-title class="layout-padding">Climbing Gear</mat-card-title>
        <mat-card-content fxLayoutAlign="left">
          <!-- Climbing Sub Categories -->
          <mat-list>
            <mat-list-item *ngFor="let climbingSubCats of mainCatCardContent[0]?.mainCatCardSubCats?.climbing">{{climbingSubCats}}</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showClimbSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .climbing-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/automotive/automotive-gear-snailInstall-slmodd.png" />
        <hr>
        <mat-card-title class="layout-padding">Automotive Gear</mat-card-title>
        <mat-card-content>
          <!-- Automotive Sub Categories -->
          <mat-list>
            <mat-list-item *ngFor="let automotiveSubCats of mainCatCardContent[0]?.mainCatCardSubCats?.automotive">{{automotiveSubCats}}</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showAutomotiveSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .automotive-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/swimming/seanTookThese-unsplash.JPG" />
        <hr>
        <mat-card-title>Swimming Gear</mat-card-title>
        <mat-card-content>
          <!-- Swimming Sub Categories -->
          <mat-list>
            <mat-list-item *ngFor="let swimmingSubCats of mainCatCardContent[0]?.mainCatCardSubCats?.swimming">{{swimmingSubCats}}</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showSwimmingSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .swimming-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/camping/adrian-unsplash.jpg" />
        <hr>
        <mat-card-title>Camping Gear</mat-card-title>
        <mat-card-content>
          <!-- Camping Sub Categories -->
          <mat-list>
            <mat-list-item *ngFor="let campingSubCats of mainCatCardContent[0]?.mainCatCardSubCats?.camping">{{campingSubCats}}</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showCampingSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .camping-card-cat END -->
    <div fxFlex="1"></div>
  </div><!-- .fxLayout Row1 Main Category Cards END -->

  <!-- Spacer between rows -->
  <div fxLayout="row" class="give-margin"><hr></div>

  <!-- 2nd Row Categories -->
  <div fxLayout="row">
    <div fxFlex="1"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/thrift/chrissie-kremer-unsplash.jpg" />
        <hr>
        <mat-card-title>Thrift Shop</mat-card-title>
        <mat-card-content>
          <!-- Thrift Shop Sub Categories -->
          <mat-list>
            <mat-list-item *ngFor="let thriftSubCats of mainCatCardContent[0]?.mainCatCardSubCats?.thrift">{{thriftSubCats}}</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showThriftSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .thrift-shop-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/antique/florian-klauer-unsplash.jpg" />
        <hr>
        <mat-card-title>Antiques & Junk</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item *ngFor="let antiqueSubCats of mainCatCardContent[0]?.mainCatCardSubCats?.antique">{{antiqueSubCats}}</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showAntiqueSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .antiques-n-junk-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/digitalServices/Slighty-Modified-services.jpg" />
        <hr>
        <mat-card-title>Digital Services</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item *ngFor="let digiServicesSubCats of mainCatCardContent[0]?.mainCatCardSubCats?.digiServices">{{digiServicesSubCats}}</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showDigitalServicesSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .digital-services-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/other/diego-ph-unsplash.jpg" />
        <hr>
        <mat-card-title>Randomness</mat-card-title>
        <mat-card-content>
          <!--  Sub Categories -->
          <mat-list>
            <mat-list-item *ngFor="let randomnSubCats of mainCatCardContent[0]?.mainCatCardSubCats?.random">{{randomnSubCats}}</mat-list-item>
            <mat-list-item>. . .</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="showRandomnessSubCatModal()">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .random-other-card-cat END -->
    <div fxFlex="1"></div>
  </div><!-- .fxLayout Row2 Main Category Cards END -->

  <!-- Spacer between rows -->
  <div fxLayout="row" class="give-margin"><hr></div>

  <!--TODO Only does the main static climbing need to iterate through and ngFor all card cats. -->
  <div fxLayout="row">
    <mat-card *ngFor="let mainCatData of mainCatCardContent">
      <img src="{{mainCatData.mainCatCardImg.climbing}}" />
      <hr>
      <mat-card-title class="layout-padding">{{mainCatData.mainCatCardTitle.climbing}}</mat-card-title>
      <mat-card-content fxLayoutAlign="left">
        <!-- Climbing Sub Categories -->
        <mat-list>
          <mat-list-item *ngFor="let climbingSubCats of mainCatData.mainCatCardSubCats.climbing">{{climbingSubCats}}</mat-list-item>
          <mat-list-item>. . .</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="showClimbSubCatModal()">See More</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
