@import "./src/app/app.component";

div {
  background-color: rgba( 0, 0, 0 ) !important;
  color: white !important;
  padding-bottom: 0 !important;
  h1 {
    letter-spacing: 3px;
    padding-bottom: 25px;
  }
}

