@import "./src/app/app.component";

div {
  background-color: rgba( 0, 0, 0 ) !important;
  //background-color: rgba(0, 0, 0, 0.71) !important;
  color: white !important;

  h1 {
    letter-spacing: 3px;
  }
}

