<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex="80" fxLayoutAlign="center center">
    <div fxFlex="26.66666666666667" class="centered">
      asdf
    </div>
    <div fxFlex="26.66666666666667" class="centered">
      adsf
    </div>
    <div fxFlex="26.66666666666667" class="centered">
      asdf
    </div>
  </div>
  <div fxFlex="10"></div>
</div>
<footer fxLayoutAlign="center center" class="content">
  Slightly Modified | Upgrab | Backward Graphics | Inventory Avenue
</footer>
