<div class="layout-padding">
<!--  <h1 class="mat-display-1 centered">Welcome to Slightly Modified</h1>-->
  <div fxLayout="row">
    <h2 class="shop-title">Let's begin, please select a Category.</h2>
  </div>

  <!-- The Applications Main Categories -->
  <div fxLayout="row" class="align-content">
    <div fxFlex="1"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/climbing/andrew-neel-unsplash-climbingGear.JPG" />
        <mat-card-title class="layout-padding">Climbing Gear</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .climbing-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/automotive/automotive-gear-snailInstall-slmodd.png" />
        <mat-card-title class="layout-padding">Automotive Gear</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .automotive-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/swimming/seanTookThese-unsplash.JPG" />
        <mat-card-title>Swimming Gear</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .swimming-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/camping/adrian-unsplash.jpg" />
        <mat-card-title>Camping Gear</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .camping-card-cat END -->
    <div fxFlex="1"></div>
  </div><!-- .fxLayout Row Main Category Cards END -->

  <div fxLayout="row" class="give-margin">
    <hr>
  </div>

  <!-- 2nd Row Categories COMING SOON! -->
  <div fxLayout="row">
    <div fxFlex="1"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/climbing/andrew-neel-unsplash-climbingGear.JPG" />
        <mat-card-title>Climbing Gear</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .climbing-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/automotive/automotive-gear-snailInstall-slmodd.png" />
        <mat-card-title>Automotive Gear</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .automotive-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/swimming/seanTookThese-unsplash.JPG" />
        <mat-card-title>Swimming Gear</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .swimming-card-cat END -->
    <div fxFlex="5"></div>
    <div fxFlex="20">
      <mat-card class="centered">
        <img mat-card-lg-image src="../../../assets/images/camping/adrian-unsplash.jpg" />
        <mat-card-title>Camping Gear</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">See More</button>
        </mat-card-actions>
      </mat-card>
    </div> <!-- .card .camping-card-cat END -->
    <div fxFlex="1"></div>
  </div><!-- .fxLayout Row Main Category Cards END -->
</div>
